html,
body {
  margin: 0;
  min-height: 100%;
  font-family: sans-serif;
  text-decoration: none;
}

section {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.overflow-wrap {
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  background-color: #102027;
  height: 100vh;
  width: 100vw;
}

#about,
#blog,
#contact {
  padding-top: 50px;
  color: black;
  height: 1200px;
  width: 100vw;
}
.title {
  font-size: 2em;
  padding-top: 2em;
  padding-bottom: 0.3em;
  border-bottom: 5px solid black;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aurora-wrapper {
  width: 100vw;
  height: 60vh;
  background-color: #102027;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  filter: blur(120px);
  opacity: 80%;
}

/*  Change the size of each aurora divs, and add some more divs to be more realistic
    try to add twinkling stars as well */
.aurora1 {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: green;
  left: -50px;
  top: -100px;
  z-index: 3;
  animation: fly 12s linear infinite;
  transform: rotate(0) translate(80px) rotate(0);
}

.aurora2 {
  width: 100px;
  height: 200px;
  background-color: darkgreen;
  bottom: -30px;
  left: -80px;
}

.aurora3 {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  bottom: -80px;
  right: -50px;
  background-color: lightgreen;
  animation: flyPlus 8s linear infinite;
  transform: rotate(0) translate(100px) rotate(0);
}

.text {
  color: #efefef;
  font-size: 2.5em;
  z-index: 999;
}

.text .highlight {
  color: gold;
  font-weight: bold;
  font-size: 1.17em;
}

.button {
  border: 1px solid #efefef;
  color: #efefef;
  padding: 15px 20px;
  margin: 20px;
  z-index: 999;
}

.button.page-link:hover {
  background-color: lightgreen;
  color: #102027;
}

.downarrow {
  transition-duration: 0.5s;
  transform: rotate(90deg);
}

.fa-angle-right {
  transition-duration: 0.5s;
}

@keyframes fly {
  100% {
    transform: rotate(1turn) translate(100px) rotate(-1turn);
  }
}

@keyframes flyPlus {
  100% {
    transform: rotate(-1turn) translate(100px) rotate(1turn);
  }
}

nav.flex {
  margin: 0;
  bottom: -50px;
  left: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #100027;
  flex-direction: row;
  z-index: 999;
}

nav.flex.fixed {
  position: fixed;
  top: 0;
}

.menu {
  color: white;
  padding: 15px 50px;
}

.menu.active {
  color: lightgreen;
}

/* About page */
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin: 5px;
  width: 100%;
  padding: 3ch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container {
  flex-direction: column;
  text-align: center;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 10em;
  border-radius: 30%;
}
.label {
  font-weight: bold;
  font-size: 2em;
  padding: 10px;
}

.article {
  min-width: 35ch;
  max-width: 65ch;
  width: 100%;
}

span.bold {
  font-weight: bold;
}

.table-title {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 1ch;
}

.skills {
  margin: 5em;
  width: 100%;
  min-width: 35ch;
  height: auto;
  display: inherit;
  flex-direction: column;
}

.skills div {
  display: inherit;
  flex-direction: row;
  padding: 5px;
}

.skills div div.skill-name {
  min-width: 10ch;
  justify-content: center;
}

.skills div div.skill-level {
  width: 100%;
  max-width: 100%;
  padding: 0;
  box-shadow: 5px 5px 10px lightgrey;
  border-radius: 10px;
}

.skills div:nth-child(n) div.skill-level span.bar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 80%;
}

.skills div:nth-child(2n + 1) div.skill-level span.bar {
  background-color: #aed581;
}

.skills div:nth-child(2n) div.skill-level span.bar {
  background-color: #e1ffb1;
}

.skills div span.skill-percentage {
  padding: 5px 0 0 10px;
  width: 5ch;
}
